.Card {
    height: 100%;
    width: 100%;
    background-color: rgb(138, 140, 141);
    text-align: left;
    border-top-left-radius: 5%;
    border: 5px solid black;
    border-bottom: none;
    position: absolute;
    box-sizing: border-box;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-name: slideInFromRight;
}

.Selected {
    border: 5px solid yellow;
    
}

.Card0 {
    margin-top: 0px;
}

.Card1 {
    margin-top: 40px;
    margin-left: 75px;
    animation-duration: 1100ms;
}

.Card2 {
    margin-top: 85px;
    Margin-left: 150px;
    animation-duration: 1200ms;
}

.Card3 {
    margin-top: 120px;
    Margin-left: 225px;
    animation-duration: 1300ms;
}

.Card4 {
    margin-top: 160px;
    Margin-left: 300px;
    animation-duration: 1400ms;
}

@media (min-width: 500px) {
    .Card {
        position: relative;
        height: 450px;
        width: 20%;
        border-radius: 5%;
        
    }

    .Card0, .Card1, .Card2, .Card3, .Card4 {
        margin: auto 20px;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}